{% comment %}

    Adds Item page button links, styled as a Bootstrap btn-group. 
    Features: 
    - View Transcript -- if the item has the field "object_transcript", this button is added along with a Bootstrap collapse containing the transcript content. If the value of "object_transcript" starts with objects/ it will look for the matching transcript file in the objects fold, otherwise it will use the value directly. Both will be rendered in Markdown. 
    - View on Timeline -- if the item has a "date" value, links to Timeline page.
    - View on Map -- if item has "latitude" and "longitude" value, links to location on map.
    - Download -- if the item has "object_location" value, adds a download button along with the item format, or if the value is a YouTube or Vimeo link adds a "View on" link.  

{%- endcomment -%}
<div class="btn-group" role="group" aria-label="Item options">
    {% if page.object_transcript %}<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTranscript" aria-expanded="false" aria-controls="collapseExample">Transcripción</button>{% endif %}
    {% if page.traduccion %}<button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTraduccion" aria-expanded="false" aria-controls="collapseExample">Traducción</button>{% endif %}
   
</div>
{% if page.object_transcript %}
<div class="collapse show mt-3" id="collapseTranscript">
    <div class="card card-body text-start">
        {% assign transcript_type = page.object_transcript | slice: 0,1 %}
        {% if transcript_type == '/' %}
        {% assign transcript_location = page.object_transcript | remove_first: '/' %}
        {% assign transcript = site.pages | where: 'path', transcript_location | first %}
        {{ transcript.content | markdownify }}
        {% else %}
        {{ page.object_transcript | markdownify }}
        {% endif %}
    </div>
</div>
{% endif %} 
{% if page.traduccion %}
<div class="collapse mt-3" id="collapseTraduccion">
    <div class="card card-body text-start">
        {% assign traduccion_type = page.traduccion | slice: 0,1 %}
        {% if traduccion_type == '/' %}
        {% assign traduccion_location = page.traduccion | remove_first: '/' %}
        {% assign traduccion = site.pages | where: 'path', traduccion_location | first %}
        {{ traduccion.content | markdownify }}
        {% else %}
        {{ page.traduccion | markdownify }}
        {% endif %}
    </div>
</div>
{% endif %} 