---
# basic image item layout
# Displays image_small if available, with fall back to object_location. 
# Adds gallery view to open images full screen using object_location, with fall back to image_small.
layout: item/item-page-base
custom-foot: js/popover-js.html;js/popover-placename-js.html;js/popover-annotate-js.html
gallery: true
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="row">
    <div class="col-md-6">

        <br/>
    {% for child in children %}
    <div id="{{ child.objectid }}" class="mb-4">
        <a class="spotlight gallery-img" data-download="true" title="{% if page.title != child.title %}{{ child.title | escape }}{% else %}{{ page.title | escape }} [{{ forloop.index }}]{% endif %}" href="{{ child.object_location | relative_url }}">
            <img src="{{ child.image_small | relative_url }}" alt="{{ child.image_alt_text | default: child.description | default: child.title | default: page.title | escape }}" class="img-fluid mb-2">
            {% if page.title != child.title %}<div><small class="text-dark">{{ child.title }}</small></div>{% endif %}
        </a>
    </div>
    {% endfor %}
</div>
<div class="col-md-6">

        {% include item/child/compound-item-download-buttons.html %}
        {% if page.object_multiple %}
        {% assign transcripciones_type = page.object_multiple | slice: 0,1 %}
        {% if transcripciones_type == '/' %}
        {% assign transcripciones_location = page.object_multiple | remove_first: '/' %}
        {% assign transcripciones = site.pages | where: 'path', transcripciones_location | first %}
        {{ transcripciones.content | markdownify }}
        {% else %}
        {{ page.object_multiple | markdownify }}
        {% endif %}
        {% endif %} 

    </div>

</div>
