<script>
    /* add annotation data from CSV */
    var annotations = {
        {%- for l in site.data.annotations -%}
        {{ l.id | jsonify }} : { "annotation": {{ l.text | escape | jsonify }} }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
    };

    /* add popovers to each element */
    /* select elements with the class 'pop-annotation'*/
    var popAnnotations = document.querySelectorAll('.pop-annotation');
    /* use data to create popover */
    popAnnotations.forEach(function(element) {
      var popId = element.getAttribute('id');
      var record = annotations[popId];
      if (record) {
        var popoverOptions = {
          content: record.annotation,
          trigger: 'focus',
          html: true
        };
        /* initialize popover */
        new bootstrap.Popover(element, popoverOptions);
      }
    });
</script>  